//typography

h1 {
    font-size: 2.57rem;
}

h2 {
    font-size: 1.71rem;
}

h3 {
    font-size: 1.42rem;
}

h4 {
    font-size: 1.28rem;
}

h5 {}

p {
    font-size: 1.14rem;
}

label {
    font-size: 1rem;
}

small {
    font-size: 0.85rem;
}
