//typography variables

$Lato-Regular: 'Lato-Regular';
$Lato-Bold: 'Lato-Bold';

$Lora-Regular: 'Lora-Regular';
$Lora-Italic: 'Lora-Italic';
$Lora-Bold: 'Lora-Bold';

//Primary colors

$nero: #222222;
$dim-gray: #707070;
$white: #ffffff;

//secondary colors

$pink-swan: #b4b4b4;



