@font-face {
  font-family: 'Lato-Regular';
  src: url("../fonts/lato/Lato-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-Bold';
  src: url("../fonts/lato/Lato-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lora-Regular';
  src: url("../fonts/lora/Lora-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lora-Italic';
  src: url("../fonts/lora/Lora-Italic.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lora-Bold';
  src: url("../fonts/lora/Lora-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
/* line 3, ../sass/global/_utils.scss */
h1 {
  font-size: 2.57rem;
}

/* line 7, ../sass/global/_utils.scss */
h2 {
  font-size: 1.71rem;
}

/* line 11, ../sass/global/_utils.scss */
h3 {
  font-size: 1.42rem;
}

/* line 15, ../sass/global/_utils.scss */
h4 {
  font-size: 1.28rem;
}

/* line 21, ../sass/global/_utils.scss */
p {
  font-size: 1.14rem;
}

/* line 25, ../sass/global/_utils.scss */
label {
  font-size: 1rem;
}

/* line 29, ../sass/global/_utils.scss */
small {
  font-size: 0.85rem;
}

/* line 1, ../sass/pages/_homepage.scss */
hr {
  width: 768px;
  height: 0;
  border: solid 0.4px #707070;
}

/* line 6, ../sass/pages/_homepage.scss */
button {
  width: 180px;
  height: 50px;
  border: solid 1px #707070;
  background-color: #ffffff;
}

/* line 12, ../sass/pages/_homepage.scss */
input {
  outline: 0;
  width: 238px;
  border-width: 0 0 2px;
  border-color: #707070;
}

/* line 18, ../sass/pages/_homepage.scss */
textarea {
  outline: 0;
  width: 774px;
  border-width: 0 0 2px;
  border-color: #707070;
  resize: none;
}

/* line 25, ../sass/pages/_homepage.scss */
header {
  font-size: 56px;
}

/* line 29, ../sass/pages/_homepage.scss */
.nav-link {
  font-family: "Lato-Regular";
  color: #222222;
  font-size: 14px;
  display: inline;
}

/* line 35, ../sass/pages/_homepage.scss */
.circle {
  margin-right: 30px;
  border: solid 1px #222222;
  width: 27px;
  height: 27px;
  background: #ffffff;
  border-radius: 70px;
  display: inline-block;
}

/* line 44, ../sass/pages/_homepage.scss */
.line {
  width: 16px;
  height: 0;
  border: solid 1px #222222;
}

/* line 49, ../sass/pages/_homepage.scss */
.fab {
  padding-left: 5px;
}

/* line 52, ../sass/pages/_homepage.scss */
.fa-facebook-f {
  padding-left: 8px;
}

/* line 57, ../sass/pages/_homepage.scss */
.image, .image-large, .image-medium, .image-small {
  background-size: cover;
  background-position: center;
  width: 100%;
}
/* line 61, ../sass/pages/_homepage.scss */
.image-large {
  height: 481px;
}
/* line 65, ../sass/pages/_homepage.scss */
.image-medium {
  height: 410px;
}
/* line 69, ../sass/pages/_homepage.scss */
.image-small {
  height: 140px;
  border-radius: 6px;
}

/* line 75, ../sass/pages/_homepage.scss */
.avatar, .avatar-square, .avatar-circle {
  background-size: cover;
  background-position: center;
  width: 82px;
  height: 82px;
}
/* line 83, ../sass/pages/_homepage.scss */
.avatar-circle {
  border-radius: 50%;
}

/* line 90, ../sass/pages/_homepage.scss */
.section2 {
  padding: 31px 10px 10px;
}

/* line 93, ../sass/pages/_homepage.scss */
.section3 {
  padding: 39px 20px;
}

/* line 98, ../sass/pages/_homepage.scss */
.footer-nav, .footer-nav-media {
  position: relative;
  padding-top: 28px;
}
/* line 104, ../sass/pages/_homepage.scss */
.footer-nav-link, .footer-nav-link-links {
  padding-left: 0px;
  padding-right: 72px;
}
/* line 107, ../sass/pages/_homepage.scss */
.footer-nav-link-links {
  padding-left: 81px;
}
/* line 112, ../sass/pages/_homepage.scss */
.footer-nav-email {
  padding-top: 70px;
  width: 252.5px;
}
/* line 116, ../sass/pages/_homepage.scss */
.footer-nav-content {
  font-family: "Lora-Bold";
  font-weight: bold;
  color: #222222;
}

/* line 123, ../sass/pages/_homepage.scss */
.header-date, .header-date-title {
  margin: 0 auto;
  text-align: center;
}
/* line 126, ../sass/pages/_homepage.scss */
.header-date-title {
  font-family: "Lora-Regular";
  font-size: 36px;
  color: #222222;
}
/* line 132, ../sass/pages/_homepage.scss */
.header-date-section {
  margin-top: 80px;
}

/* line 136, ../sass/pages/_homepage.scss */
.media-icon-aside {
  padding-right: 45px;
}

/* line 139, ../sass/pages/_homepage.scss */
.date {
  font-family: "Lora-Italic";
  font-size: 12px;
  font-style: italic;
  color: #707070;
}

/* line 145, ../sass/pages/_homepage.scss */
.content, .content-comment {
  font-family: "Lora-Regular";
  font-size: 16px;
  line-height: 1.94;
  color: #222222;
}
/* line 150, ../sass/pages/_homepage.scss */
.content-comment {
  font-size: 14px;
  font-stretch: normal;
  line-height: 2.21;
}

/* line 157, ../sass/pages/_homepage.scss */
.quote {
  font-family: "Lora-Italic";
  font-size: 18px;
  font-style: italic;
  line-height: 1.22;
  letter-spacing: 0.5px;
  color: #222222;
}

/* line 165, ../sass/pages/_homepage.scss */
.side, .side-comments {
  font-family: "Lato-Regular";
  font-size: 12px;
  letter-spacing: 2.4px;
  color: #707070;
}
/* line 170, ../sass/pages/_homepage.scss */
.side-comments {
  padding-left: 245px;
}

/* line 175, ../sass/pages/_homepage.scss */
.travel {
  font-family: "Lato-Regular";
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 2.4px;
  color: #222222;
}

/* line 182, ../sass/pages/_homepage.scss */
.hashtag {
  font-family: "Lora-Italic";
  font-size: 13px;
  font-style: italic;
  color: #222222;
}

/* line 188, ../sass/pages/_homepage.scss */
.name {
  font-family: "Lato-Bold";
  font-size: 14px;
  font-weight: bold;
  color: #222222;
}

/* line 194, ../sass/pages/_homepage.scss */
.send-now-btn {
  margin-top: 126px;
  margin-left: 221px;
  font-family: "Lato-Bold";
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2.4px;
  color: #222222;
}

/* line 203, ../sass/pages/_homepage.scss */
.subscribe-btn {
  font-family: "Lato-Regular";
  width: 113px;
  height: 32px;
  border: solid 1px #222222;
  background-color: #ffffff;
  position: relative;
  left: 163px;
  bottom: 32px;
}

/* line 213, ../sass/pages/_homepage.scss */
.mini-article-content {
  font-family: "Lora-Regular";
  font-size: 24px;
  line-height: 1.21;
}

/* line 218, ../sass/pages/_homepage.scss */
.logo {
  margin-left: -42px;
}

/* line 221, ../sass/pages/_homepage.scss */
.next-section {
  padding-left: 183px;
}

/* line 224, ../sass/pages/_homepage.scss */
.angle-right-footer {
  padding-left: 278px;
}

/* line 227, ../sass/pages/_homepage.scss */
.show-all-comments-section {
  position: relative;
  left: 200px;
}

/* line 231, ../sass/pages/_homepage.scss */
.email {
  position: relative;
  bottom: 81px;
  left: 400px;
}

/* line 236, ../sass/pages/_homepage.scss */
.comment-section {
  padding-top: 130px;
}

/* line 239, ../sass/pages/_homepage.scss */
.name-form-section {
  padding-left: 26px;
}
