hr {
  width: 768px;
  height: 0;
  border: solid 0.4px $dim-gray;
}
button{
  width: 180px;
  height: 50px;
  border: solid 1px $dim-gray;
  background-color: $white;
}
input {
  outline: 0;
  width: 376px;
  border-width: 0 0 2px;
  border-color: #707070;
}
textarea{
  outline: 0;
  width: 774px;
  border-width: 0 0 2px;
  border-color: #707070;
  resize: none;
}
header{
  font-size: 56px;
}
// Nav Bar
.nav-link{
  font-family: $Lato-Regular;
  color: $nero;
  font-size: 14px;
  display: inline;
}
.circle{
  margin-right: 30px;
  border: solid 1px #222222;
  width: 27px;
  height: 27px;
  background: $white; 
  border-radius: 70px;
  display: inline-block;
}
.line{
  width: 16px;
  height: 0;
  border: solid 1px #222222;
}
.fab{
  padding-left: 5px;
}
.fa-facebook-f{
  padding-left: 8px;
}

// Image
.image{
  background-size: cover;
  background-position: center;
  width: 100%;
    &-large{
      @extend .image;
      height: 481px;
  }
    &-medium{
      @extend .image;
      height: 410px;
    }
    &-small{
      @extend .image;
      height: 140px;
      border-radius: 6px;
    }
}
.avatar{
  background-size: cover;
  background-position: center;
  width:82px;
  height: 82px;
  &-square{
    @extend .avatar;
  }
  &-circle{
    @extend .avatar;
    border-radius: 50%;
  }
} 

//section 
.section2{
  padding: 31px 10px 10px;
}
.section3{
  padding: 39px 20px;
}

// Footer
.footer-nav{
  position: relative;
  padding-top: 28px;
}
.footer-nav-media{
  position: relative;
  left: 66px;
  padding-top: 28px;
}
.footer-nav-link{
    padding-left: 0px;
    padding-right: 72px;
}
.footer-email{
  padding-top: 70px;
  width: 252.5px;
}
.footer-content{
  font-family: $Lora-Bold;
  font-weight: bold;
  color: $nero;
}


.media-icon-aside{
  padding-right: 45px;
}
.date{
  font-family: $Lora-Italic;
  font-size: 12px;
  font-style: italic;
  color: $dim-gray;
}
.content{
  font-family: $Lora-Regular;
  font-size: 16px;
  line-height: 1.94;
  color: $nero;
}
.comment-content{
  font-family: $Lora-Regular;
  font-size: 14px;
  font-stretch: normal; 
  line-height: 2.21;
  color: $nero;
}
.quote{
  font-family: $Lora-Italic;
  font-size: 18px;
  font-style: italic;
  line-height: 1.22;
  letter-spacing: 0.5px;
  color: $nero;
}
.side-comments-like{
  font-family: $Lato-Regular;
  font-size: 12px;
  line-height: -1.75;
  letter-spacing: 2.4px;
  color: $dim-gray;
}
.side-comments-like1{
  padding-left: 245px;
  font-family: $Lato-Regular;
  font-size: 12px;
  line-height: -1.75;
  letter-spacing: 2.4px;
  color: $dim-gray;
}
.travel{
  font-family: $Lato-Regular;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 2.4px;
  color: $nero;
}
.hashtag{
  font-family: $Lora-Italic;
  font-size: 13px;
  font-style: italic;
  color: $nero;
}
.name{
  font-family: $Lato-Bold;
  font-size: 14px;
  font-weight: bold;
  color: $nero;
}
.send-now-btn{
  margin-top: 126px;
  margin-left: 221px;
  font-family: $Lato-Bold;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2.4px;
  color: $nero;
}
.subscribe-btn{
  font-family: $Lato-Regular;
  width: 113px;
  height: 32px;
  border: solid 1px #222222;
  background-color: #ffffff;
  position: relative;
  left: 163px;
  bottom: 32px;
}

.mini-article-content{
  font-family: $Lora-Regular;
  font-size: 24px;
  line-height: 1.21;
}
.logo{
  margin-left: -42px;
}
.footer-nav-linkv1{
  padding-left: 81px;
}
.next-section{
  padding-left: 183px;
}
.angle-right-footer{
  padding-left: 278px;
}
.show-all-comments-section{
  position: relative;
  left: 200px;
}
.email{
  position: relative;
  bottom: 81px;
  left: 400px;
}
//header
.header-title{
  margin: 0 auto;
  text-align: center;
  font-family: $Lora-Regular;
  font-size: 36px;
  color: $nero;
}
.header-date{
  margin: 0 auto;
  text-align: center;
}
.header-section{
  margin-top: 80px;
}
.comment-section{
  padding-top: 130px;
}
.name-form-section{
  padding-left: 26px;
}
